@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	outline: none;
}

body {
	margin: 0;
	line-height: 1.3;
	font-size: rem(25);
	color: var(--white);
	font-family: var(--font-body);
	cursor: url('../images/tools/pointer.cur'), auto;
	background-image: url('../images/background.webp');

	@include breakpoint(large) { overflow: hidden }
}

.title {
	display: inline-block;
	position: relative;
	font-weight: 700;
	font-size: rem(52.5);
	margin-bottom: rem(10);
	transform: translateX(0);

	@include breakpoint(large) { font-size: rem(75) }

	&:before, &:after {
		content: 'thelabuzov.eth';
		position: absolute;
		left: 0;
		opacity: .8;
	}

	&:before {
		color: var(--cherry);
		z-index: -2;
	}

	&:after {
		color: var(--aqua);
		z-index: -1;
	}

	&:hover {

		&:before, &:after { animation: glitch var(--transition-min) cubic-bezier(.25, .46, .45, .94) infinite }

		&:after { animation-direction: reverse }
	}
}

.subtitle {
	font-size: rem(30);
	margin-bottom: rem(10);

	@include breakpoint(large) { font-size: rem(30) }

	&--gradient {
		background-image: linear-gradient(var(--cherry), var(--aqua));
		-webkit-text-fill-color: transparent;
		-webkit-background-clip: text;
	}
}

.paragraph:not(:last-child) { margin-bottom: rem(25) }
