@use '../util' as *;

#volume {
	cursor: pointer;

	@include breakpoint(large) {
		position: absolute;
		top: rem(14);
		left: rem(14);
	}
}

.wrapper {
	height: 100vw;

	@include breakpoint(large) {
		transform: rotate(-90deg) translateX(-100vh);
		transform-origin: top left;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			display: none;
		}

		&__inner {
			display: flex;
			transform: rotate(90deg) translateY(-100vh);
			transform-origin: top left;
		} 
	}
}

.slide {
	display: flex;
	flex-direction: column;

	&.one {
		justify-content: center;
		align-items: center;
	}

	&.two {
		align-items: end;
		background-image: none;
		background-color: var(--light-gray);
	}

	&::before {
		content: '';
		min-width: 100vw;
		min-height: 100vh;
		background-color: rgba(0, 0, 0, .6);
	}
}

.timeline {
	@include breakpoint-down(large) {
		.one & {
			display: none;
		}
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	min-width: 100%;
	overflow: hidden;

	&__portfolio {
		box-shadow: 0 0 rem(40) rem(45) var(--dark-gray);
		background-color: var(--dark-gray);
	}

	@include breakpoint(large) {
		flex-direction: row;
		align-items: center;

		&__portfolio {
			align-items: start;
			justify-content: end;
			min-height: 100vh;
		}
	}
}

.scroll {
	overflow: visible;

	@include breakpoint(large) {
		overflow: scroll;
		max-height: 100vh;
	}

	&:first-child {
		min-width: 100vw;

		@include breakpoint(large) {
			max-width: rem(640);
			min-width: auto;
		}
	}

	&:last-child {
		max-width: rem(1140);
	}

	&::-webkit-scrollbar {
		display: none;
	}
}

.wb-body {
	background-color: var(--dark-gray);
	color: var(--white);
	padding: rem(20);

	&::-webkit-scrollbar {
		display: none;
	}
}

.hidden {
	position: relative;
	left: -100%;
}
