.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.delay-0 {
	animation-delay: var(--animate-delay);
}

.delay-1 {
	animation-delay: calc(var(--animate-delay) * 1.1);
}

.delay-2 {
	animation-delay: calc(var(--animate-delay) * 1.2);
}

.delay-3 {
	animation-delay: calc(var(--animate-delay) * 1.3);
}

.delay-4 {
	animation-delay: calc(var(--animate-delay) * 1.4);
}

.delay-5 {
	animation-delay: calc(var(--animate-delay) * 1.5);
}

.delay-6 {
	animation-delay: calc(var(--animate-delay) * 1.6);
}

.delay-7 {
	animation-delay: calc(var(--animate-delay) * 1.7);
}

.delay-8 {
	animation-delay: calc(var(--animate-delay) * 1.8);
}

.delay-9 {
	animation-delay: calc(var(--animate-delay) * 1.9);
}

.delay-10 {
	animation-delay: calc(var(--animate-delay) * 2);
}

.delay-11 {
	animation-delay: calc(var(--animate-delay) * 2.1);
}

.delay-12 {
	animation-delay: calc(var(--animate-delay) * 2.2);
}

.delay-13 {
	animation-delay: calc(var(--animate-delay) * 2.3);
}

.delay-14 {
	animation-delay: calc(var(--animate-delay) * 2.4);
}

.delay-15 {
	animation-delay: calc(var(--animate-delay) * 2.5);
}

.delay-16 {
	animation-delay: calc(var(--animate-delay) * 2.6);
}

.delay-17 {
	animation-delay: calc(var(--animate-delay) * 2.7);
}

.fadeIn {
	animation-name: fadeIn;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
