@use '../util' as *;

html {
	font-size: 100%;
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	outline: none;
}

body {
	margin: 0;
	font-size: rem(30);
	font-family: var(--font-body);
	color: var(--white);
	line-height: 1.3;
	cursor: url('../images/tools/normal.cur'), auto;

	@include breakpoint(large) { overflow: hidden }
}

.wb-body {
	background-color: var(--dark-gray);
	color: var(--white);
	padding: 20px;
}

#click {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	z-index: 1;
	background-color: var(--black);

	&::after {
		content: '';
		width: rem(600);
		min-height: rem(335);
		background: url('../images/loading.webp') no-repeat 50% / contain;
	}
}

.section {

	&__title, &__subtitle { cursor: url('../images/tools/busy.cur'), auto }

	&__links { display: inline-flex;

		&:first-child a { color: var(--cherry);
	
			&:not(:last-child) { padding-right: rem(20) }
		}

		&:last-child { flex-direction: column }
	}
}
