@use '../util' as *;

#click {
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--black);
	position: fixed;
	z-index: 1;

	&::after {
		content: '';
		width: rem(600);
		min-height: rem(335);
		background: url('../images/loading.webp') no-repeat 50% / contain;
	}
}

.wrapper {
	height: 100vw;

	@include breakpoint(large) {
		transform: rotate(-90deg) translateX(-100vh);
		transform-origin: top left;
		overflow-x: scroll;

		&::-webkit-scrollbar { display: none }

		&__inner {
			display: flex;
			transform: rotate(90deg) translateY(-100vh);
			transform-origin: top left;
		} 
	}
}

.slide {
	display: flex;
	flex-direction: column;
	background-image: url('../images/background.webp');

	&.one {
		align-items: center;
		justify-content: center;
	}

	&.two {
		align-items: flex-end;
		background-image: none;
		background-color: var(--light-gray);

		@include breakpoint(large) { box-shadow: rem(-140) 0 rem(40) rem(45) var(--dark-gray) }
	}

	&::before {
		content: '';
		min-width: 100vw;
		min-height: 100vh;
		background-color: rgba(0, 0, 0, .6);
	}
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: absolute;
	min-width: 100%;
	overflow: hidden;

	@include breakpoint(large) {
		flex-direction: row;
		align-items: center;

		&__portfolio { justify-content: flex-end }
	}
}

.scroll { overflow: visible;

	@include breakpoint(large) {
		overflow: scroll;
		max-height: 100vh;
	}

	&:first-child { max-width: rem(640) }

	&:last-child { max-width: rem(1140) }

	&::-webkit-scrollbar { display: none }
}

.wb-body {
	background-color: var(--dark-gray);
	color: var(--white);
	padding: 20px;
}

.hidden {
	position: relative;
	left: -100%;
}
