@use '../util' as *;

h1, h2, h3, p { margin: 0 }

a {
	color: var(--aqua);
	text-decoration: none;
	transition: var(--transition-min);
	text-shadow: 0 0 rem(10) var(--aqua);
	cursor: url('../images/tools/person.cur'), auto;

	&:hover {
		color: var(--cherry);
		text-shadow: 0 0 rem(10) var(--cherry);
	}
}

#click { cursor: url('../images/tools/link.cur'), auto }

.links {

	&--vertical {
		display: inline-flex;
		flex-direction: column;
	}

	a {

		&:not(.links--vertical) {
			color: var(--cherry);
			text-shadow: 0 0 rem(10) var(--cherry);
			cursor: url('../images/tools/link.cur'), auto;

			&:hover {
				color: var(--aqua);
				text-shadow: 0 0 rem(10) var(--aqua);
			}
		}

		&:not(:last-child) { margin-right: rem(20) }
	}
}
