@use '../util' as *;

// Section
.section {

	.one & {
		text-align: center;

		@include breakpoint(large) {
			text-align: left;
		}

		.social {
			line-height: 1.6;
			margin-top: rem(10);

			@include breakpoint(large) {
				margin-top: rem(60);
			}
		}
	}
}

@keyframes glitch {
	0% {
		transform: translate(0);;
	}

	20% {
		transform: translate(rem(-5), rem(5));
	}

	40% {
		transform: translate(rem(-5), rem(-5));
	}

	60% {
		transform: translate(rem(5), rem(5));
	}

	80% {
		transform: translate(rem(5), rem(-5));
	}

	100% {
		transform: translate(0);
	}
}

.progress {

	&__box {
		min-width: 80%;

		&:last-child .progress__bar {
			margin-bottom: rem(10);
		}
	}

	&__bar, &__bar span {
		min-width: 100%;
		border-radius: rem(10);
	}

	&__bar {
		position: relative;
		margin: rem(20) 0;
		min-height: rem(20);
		background-color: var(--light-gray);

		span {
			position: absolute;
			min-height: 100%;
			transform: scaleX(0);
			transform-origin: left;
			background-color: var(--aqua);
			box-shadow: 0 0 rem(10) var(--aqua);
			animation: progress var(--transition-min) forwards;
		}

		&.html span {
			min-width: 90%;
		}

		&.css span {
			min-width: 85%;
		}

		&.javascript span {
			min-width: 70%;
		}

		&.tailwind span {
			min-width: 75%;
		}

		&.bootstrap span {
			min-width: 65%;
		}

		&.git span {
			min-width: 80%;
		}
	}
}

@keyframes progress {
	100% {
		transform: scaleX(1);
	}
}

// Timeline
.timeline {
	display: grid;
	align-items: stretch;
	grid-template-columns: 1fr rem(3) 1fr;
	padding: rem(40) 0;
	text-align: left;

	&__component {
		margin: 0 rem(25);

		&--bg {
			padding: rem(25);
			background: var(--light-gray);
			box-shadow: 0 0 rem(5) var(--light-gray);
			margin-bottom: rem(25);
			border-radius: rem(10);
			max-width: rem(270);
		}
	}

	&__middle,
	&__point {
		background-color: var(--aqua);
		box-shadow: 0 0 rem(10) var(--aqua);
	}

	&__middle {
		position: relative;
	}

	&__point {
		display: block;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: rem(15);
		height: rem(15);
		border-radius: 50%;

		&--bottom {
			top: initial;
			bottom: 0;
		}
	}

	&__date {
		display: block;

		&--right,
		&--bottom {
			margin-bottom: 0;
		}

		&--right {
			text-align: right;
		}
	}
}
