@use '../util' as *;

// Section
.section {
	
	.one & { text-align: center;

		@include breakpoint(large) { text-align: left }

		.social {
			margin-top: rem(40);
			line-height: 1.6;

			@include breakpoint(large) { margin-top: rem(60) }
		}
	}
}

@keyframes glitch {
	0% { transform: translate(0) }

	20% { transform: translate(rem(-5), rem(5)) }

	40% { transform: translate(rem(-5), rem(-5)) }

	60% { transform: translate(rem(5), rem(5)) }

	80% { transform: translate(rem(5), rem(-5)) }

	100% { transform: translate(0) }
}

.progress {

	&__box { min-width: 80%;

		&:last-child .progress__bar { margin-bottom: rem(10) }
	}

	&__bar, &__bar span {
		min-width: 100%;
		border-radius: rem(10);
	}

	&__bar {
		position: relative;
		margin: rem(20) 0;
		min-height: rem(20);
		background-color: var(--light-gray);

		span {
			position: absolute;
			min-height: 100%;
			transform: scaleX(0);
			transform-origin: left;
			background-color: var(--aqua);
			box-shadow: 0 0 rem(10) var(--aqua);
			animation: progress var(--transition-min) forwards;
		}

		&.html span { min-width: 90% }

		&.css span { min-width: 85% }

		&.javascript span { min-width: 70% }

		&.tailwind span { min-width: 75% }

		&.bootstrap span { min-width: 65% }

		&.git span { min-width: 80% }
	}
}

@keyframes progress {
	100% { transform: scaleX(1) }
}

// Hero
.hero {
	display: none;
	position: relative;
	min-height: 100vh;

	@include breakpoint(large) {
		display: flex;
		align-items: end;
	}

	&::before {
		content: '';
		position: relative;
		left: 0;
		bottom: rem(-38);
		min-height: rem(392);
		min-width: rem(738);
		transform: rotate(0);
		background: url('../images/console.webp') no-repeat 50% / contain;
	}

	&::after {
		content: '';
		display: none;
		position: absolute;
		left: 24%;
		bottom: rem(245);
		min-width: rem(500);
		min-height: rem(425);
		transform: scaleX(-1);
		background: url('../images/avatar.webp') no-repeat 50% / contain;

		@include breakpoint(large) { display: block }
	}
}
