@use "../util" as *;

// Features
.features {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: space-between;
	padding: rem(40) rem(20);
	max-width: rem(600);
	min-height: 100vh;
	margin: 0 auto;

	&__item {
		&:not(:last-child) {
			margin-bottom: rem(40);
		}

		.subtitle {
			margin-top: rem(10);
		}
	}
}

// Portfolio
.portfolio {
	display: flex;
	flex-wrap: wrap;
	align-content: start;

	&__link {
		display: flex;
		justify-content: center;
		border: rem(5) solid var(--dark-gray);
		min-height: rem(250);
		overflow: hidden;
		min-width: 100%;

		@include breakpoint(medium) {
			min-width: 50%;
		}

		@include breakpoint(large) {
			min-width: rem(380);
		}

		&.soon {
			display: none;
			cursor: not-allowed;
			background-image: url("https://via.placeholder.com/380x250?text=Coming+Soon");

			@include breakpoint(large) {
				display: block;
			}
		}

		&:hover:not(.soon) {
			.portfolio__text {
				opacity: 1;
			}

			.portfolio__image {
				filter: blur(rem(2));
				transform: scale(1.1);
			}
		}
	}

	&__image,
	&__text {
		transition: var(--transition-min);
	}

	&__image {
		position: absolute;
		max-width: 100%;
		min-height: 100%;
		min-width: rem(485);
	}

	&__text {
		opacity: 0;

		&::before,
		&::after {
			position: absolute;
		}

		&::before {
			content: "";
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			background-color: rgba(0, 0, 0, 0.6);
		}

		&::after {
			top: 50%;
			left: 50%;
			white-space: nowrap;
			transform: translate(-50%, -50%);
		}

		&.item-1::after {
			content: "Mw Website";
		}

		&.item-2::after {
			content: "Elena Website";
		}

		&.item-3::after {
			content: "Marble Website";
		}

		&.item-4::after {
			content: "Education Website";
		}

		&.item-5::after {
			content: "OathJar Website";
		}

		&.item-6::after {
			content: "Hugo Website";
		}

		&.item-7::after {
			content: "Netflix Clone";
		}

		&.item-8::after {
			content: "Discord Clone";
		}

		&.item-9::after {
			content: "Shopper Website";
		}

		&.item-10::after {
			content: "Techgear Website";
		}

		&.item-11::after {
			content: "Travel Website";
		}
	}
}
