@use '../util' as *;

// Timeline
.timeline {
	display: flex;
	margin: 0 auto;
	align-items: center;
	text-align: center;
	padding: rem(60) 0 0;
	flex-direction: column;
	background-color: var(--dark-gray);

	@include breakpoint(large) {
		display: grid;
		align-items: stretch;
		grid-template-columns: 1fr rem(3) 1fr;
		padding: rem(40) 0;
		text-align: left;
	}

	&__component { margin: 0 rem(25);

		&--bg {
			padding: rem(25);
			background: var(--light-gray);
			box-shadow: 0 0 rem(5) var(--light-gray);
			margin-bottom: rem(60);
			border-radius: rem(10);
			max-width: rem(680);

			@include breakpoint(large) { margin-bottom: rem(25) }
		}
	}

	&__middle, &__point {
		background-color: var(--aqua);
		box-shadow: 0 0 rem(10) var(--aqua);
	}

	&__middle { position: relative }

	&__point { display: none;

		@include breakpoint(large) {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			width: rem(15);
			height: rem(15);
			border-radius: 50%;
		}

		&--bottom {
			top: initial;
			bottom: 0;
		}
	}

	&__date { display: none;

		@include breakpoint(large) { display: block; }

		&--right, &--bottom { margin-bottom: 0 }

		&--right {

			@include breakpoint(large) { text-align: right }
		}
	}
}

// Portfolio
.portfolio {
	display: flex;
	flex-wrap: wrap;
	align-content: start;

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		border: rem(5) solid var(--dark-gray);
		min-height: rem(250);
		position: relative;
		overflow: hidden;
		flex-grow: 1;

		@include breakpoint(medium) { min-width: 50% }

		@include breakpoint(large) { min-width: rem(380) }

		&.soon { display: none;

			@include breakpoint(large) { display: block }
		}

		&:hover:not(.soon) {

			.portfolio__image::after, .portfolio__text { opacity: 1 }

			.portfolio__image {
				filter: blur(rem(2));
				transform: scale(1.1);
			}
		}
	}

	&__image, &__image:not(.item-0)::after, &__text {
		cursor: url('../images/tools/pin.cur'), auto;
		transition: var(--transition-min);
	}

	&__image {
		position: absolute;
		background: no-repeat 50% / cover;

		&, &:not(.item-0)::after {
			min-height: 100%;
			min-width: 100%;
		}

		&:not(.item-0)::after {
			content: '';
			opacity: 0;
			position: absolute;
			background-color: rgba(0, 0, 0, .6);
		}

		&.item-0 {
			cursor: url('../images/tools/unavailiable.cur'), auto;
			background-image: url('https://via.placeholder.com/380x250?text=Coming+Soon');
		}

		&.item-1 { background-image: url('../images/content/item-1.webp') }

		&.item-2 { background-image: url('../images/content/item-2.webp') }

		&.item-3 { background-image: url('../images/content/item-3.webp') }

		&.item-4 { background-image: url('../images/content/item-4.webp') }

		&.item-5 { background-image: url('../images/content/item-5.webp') }

		&.item-6 { background-image: url('../images/content/item-6.webp') }
	}

	&__text {
		opacity: 0;
		z-index: 1;
	}
}
