@use '../util' as *;

// Timeline
.timeline {
	margin: 0 auto;
	padding: rem(50) 0;
	display: grid;
	background-color: var(--dark-gray);
	grid-template-columns: 1fr rem(3) 1fr;

	&__component {
		margin: rem(25);
		margin-top: 0;

		&--bg {
			padding: rem(25);
			background: var(--light-gray);
			box-shadow: 0 0 rem(5) var(--light-gray);
			border-radius: rem(10);
		}

		&--bottom { margin-bottom: 0 }
	}

	&__middle, &__point {
		background-color: var(--aqua);
		box-shadow: 0 0 rem(10) var(--aqua);
	}

	&__middle { position: relative }

	&__point {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: rem(15);
		height: rem(15);
		border-radius: 50%;

		&--bottom {
			top: initial;
			bottom: 0;
		}
	}

	&__date--right { text-align: right }
}

// Portfolio
.portfolio {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	&__image, .soon {
		background: no-repeat 50% / cover;
	}

	&__image {
		min-height: 100%;
		transition: var(--transition-min);

		&:hover { transform: scale(1.2) }

		&.soon {
			cursor: url('../images/tools/unavailable.cur'), auto;
			background-image: url('https://via.placeholder.com/380x250?text=Coming+Soon');
		}

		&.item-1 { background-image: url('../images/content/item-1.webp') }

		&.item-2 { background-image: url('../images/content/item-2.webp') }

		&.item-3 { background-image: url('../images/content/item-3.webp') }

		&.item-4 { background-image: url('../images/content/item-4.webp') }

		&.item-5 { background-image: url('../images/content/item-5.webp') }

		&.item-6 { background-image: url('../images/content/item-6.webp') }
	}
}
