@use '../util' as *;

// Form
.contact {

	&__title {
		margin-top: 100px;
		color: #fff;
		text-transform: uppercase;
		transition: all 4s ease-in-out;
	
		& h1 {
			font-size: 32px;
			line-height: 10px;
		}
	
		& h2 {
			font-size: 16px;
		}
	}

	form {
		margin-top: 50px;
		transition: all 4s ease-in-out;

		& .submit {
			background: #ff5722;
			border-color: transparent;
			color: #fff;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 2px;
			height: 50px;
			margin-top: 20px;

			&:hover {
				background-color: #f44336;
				cursor: pointer;
			}
		}
	}

	.form__control {
		width: 600px;
		background: transparent;
		border: none;
		outline: none;
		border-bottom: 1px solid gray;
		color: #fff;
		margin-bottom: 16px;
	}

	input {
		height: 45px;
	}
}

// Portfolio
.portfolio {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

	@include breakpoint(large) { max-height: 100vh }

	&__link {
		min-width: 100%;
		min-height: rem(250);
		overflow: hidden;
		flex-grow: 1;

		@include breakpoint(medium) { min-width: rem(380) }
	}

	&__image, .soon {
		background: no-repeat 50% / cover;
	}

	&__image {
		min-height: 100%;
		transition: var(--transition-min);

		&:hover { transform: scale(1.2) }

		&.soon {
			cursor: url('../images/tools/unavailable.cur'), auto;
			background-image: url('https://via.placeholder.com/380x250?text=Coming+Soon');
		}

		&.item-1 { background-image: url('../images/content/item-1.webp') }

		&.item-2 { background-image: url('../images/content/item-2.webp') }

		&.item-3 { background-image: url('../images/content/item-3.webp') }

		&.item-4 { background-image: url('../images/content/item-4.webp') }

		&.item-5 { background-image: url('../images/content/item-5.webp') }

		&.item-6 { background-image: url('../images/content/item-6.webp') }
	}
}
